export(read_seq_txt, seq_funbarRF, seq_funbarRF_manual, predict_train_funbarRF, predict_test_funbarRF, encGPC)
import('randomForest', 'Biostrings', 'BioSeqClass')
importFrom("stats", "predict")
importFrom("utils", "read.csv", "write.table")
importFrom("utils", "data")


